#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu-bar{
  display: flex;
position: top;
position: absolute;
top: 10px;
right: 10px;


}

.menu-bar li{
  display: block 1;
}

/* Button CSS */
.my-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.my-button:hover {
  background-color: #0069d9;
}

body {
  background-image: url(https://lh3.googleusercontent.com/aph7D7crykKGta8q55RG0oJAZMIZ1dIgJ57hyqCvRSdYQmnflpxwPpRaVg5TbC2kew69Zn0byvSvmUoG2AxGnwZQ3h3qvBGD7ka3HJi4x7BD1V2D2-9R93z7P0I3XyReLBAH-X0e0un4CE_K_8FA-WziJyOQ0gtTXFPW6y1a3p1ah3waHicDHnHHmMg3j891VuMFN5Dc-X1weYPM0o5uOwIrEAZ9vFIGgT1ssO8gRyd76wTaoHvmSvuhy-pRwJVzz-wVYc3JsU_yrb6QwdSKrmt7TcX88XwywPa58GqMZCo-AQs8Pd5BASQ-q7jlV8txz1XpHqqLlGnMykYGe6MME_BVLDRl1SGomc-QL7PhenaMGBv3YcIHmLUSK7_Te-IkQ7sjy6380MknKrXxzaxvO87ar489N9i04I1ZU06g8PrDOSVeNkXxlzmduEXUilDVgPBtLnVAmoRpfAYnnNJfoveBPeV8vTuYcB1AYG0bt3ErYdCiHhkq7DkNIqxDJGYh7_biWzT9oumzPo9ccOeHrI66hUzoVWmiZITVWwmpCeAAvVrzt8GeWs1ANCL5S6JMgWG5Wat3BkHXp74xzRyMeAnAFWwga7b5hdB0tPf_JMWRA7XNC8fdgX_wvnfh_tcpDH0h3twEmhTQPWFFEWK1ZawTK0ugjtpiLK5rFXjwLq3HXKq6SxO2Zs_xV1Kjmv8r4x547eRmQRqUN0bEl50gyZ2b-ffekEOj8iNh92jsutfU-0IJqsfyG7LNueeHSDIXhflCdDPLk20dSp7poJFKXEW-lEraPslu7Uk5Pne85lC9paSK70-TOWIJUoXlZpFUOiZayExOxD7URMK_nKJcRDdPwEoRL-ywS8pK4mCzSJUxL-ClpYKNe6-L6UdppdVoeSGPXZME2d_WIJbnWnSz0xxytvKLBXYjCXLukvuVlPkyzXM6F3eGFSyKn7kQsCpDgeQ_c6l0w7vgZpjx8DiBvR3Ju5KK7P5DPBKkqLm9YBjJ1g3QaKjflFLnNXN26WWB0ZGXgaVRCZ711Otqt448zFb3CKa1=w1023-h767-s-no?authuser=2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1{
  position: absolute;
  top: 200px;
color: white;
left: 0;
right: 0;
margin: auto;

}



